@{
  Layout = "_Layout";
}

<h1>Enter A Place You Have Visited:</h1>

<form action="/Place" method="post">
  <label for="city">City:</label>
  <input id="city" name="city" type="text">

  <button type="submit">Submit!</button>
</form>
