@{
  Layout = "_Layout";
}

<h1>All Of The Places You've Visited</h1>


@foreach (var place in Model)
{
  <ul>
    <h3>@place.GetCity()</h3>
    <li></li>
  </ul>
  <p><a href="/place/@place.GetId()">Click for details</a></p>
}
