@{
  Layout = "_Layout";
}

<h1>All Of The Places You've Visited</h1>


@foreach (var place in Model)
{
  <ul>
    <h3>@place.GetCity()</h3>
    <li></li>
  </ul>
  <p><a href="/place/@place.GetId()">Click for details</a></p>
  <form action="PlaceList/remove/@place.GetId()" method="post" data-id="@place.GetId()">
    <button type="submit" id="remove">Remove This Place</button>
  </form>
}
<p><a href="/">Add another place</a></p>
<p><a href="/PlaceList">View all places</a></p>
